@media screen and (max-width:1147px){
    #feature {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #sm-banner .bannar-box {
        min-width: 100%;
        height: 40vh;
    }

    #banner-3 .bannar-box {
        width: 28%;
    }
}

@media screen and (max-width:900px){
    #navBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navBar.active{
        right: 0;
    }

    #navBar li {
        margin-bottom: 30px;
    }

    #navBar li a {
        font-size: 20px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 25px;
    }

    #lg-bag {
        display: none;
    }
 
    #close {
        display: flex;
        text-decoration: none;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 28px;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #feature .feature-box {
        margin: 15px 15px;
    }

    .section-p1 {
        padding: 40px 40px; 
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #banner {
        height: 30vh;
    }

    #banner h2 {
        font-size: 30px;
    }

    #banner h2 span {
        font-size: 30px;
    }

    #sm-banner .bannar-box {
        min-width: 100%;
        height: 40vh;
    }

    #banner-3 {
        padding: 0 40px;
    }

    #banner-3 .bannar-box {
        width: 28%;
    }

    #newsLetters .form {
        width: 70%;
    }

    /* contact page */

    #formDetails {
        padding: 30px;
    }

    #formDetails form {
        width: 50%;
    }
}

@media screen and (max-width:580px){
    #header { 
        padding: 10px 30px;
    }

    .section-p1 {
        padding: 10px;
    }

    #product1 .pro {
        width: 100%;
    }

    #feature .feature-box {
        width: 155px;
    }


    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #banner {
        height: 40vh;
    }

    #product1 .pro {
        margin: 15px;
        width: 100%;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #sm-banner .bannar-box {
        min-width: 100%;
        height: 40vh;
        margin-bottom: 10px;
    }

    #banner-3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    #banner-3 .bannar-box {
        width: 100%;
    }

    #newsLetters .form {
        width: 100%;
    }

    #pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #pagination  a {
        margin: 5px;
    }

    /* single product */

    #proDetails {
        display: flex;
        flex-direction: column;
    }

    #proDetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #proDetails .single-pro-ditails {
        width: 100%;
    }

    #proDetails .single-pro-ditails span {
        line-height: 13px;
        font-weight: 400;
    }

    /* blog page */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #blog .blogImage {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blogBox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* about Page */

    #aboutHead {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aboutHead img {
        width: 100%;
        height: auto;
    }

    #aboutHead div {
        padding-left: 0px;
    }

    #aboutApp .video {
        width: 100%;
    }

    /* conatct page */

    #concactDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #concactDetails .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #concactDetails .map {
        width: 100%;
    }

    #formDetails {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
        border: 1px solid #c9cbce;
    }

    #formDetails form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cart */

    #cart-add {
        display: flex;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
} 